@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

html {
  font-size: calc(1rem + 0.5vw); /* Adjusts font size based on screen width */
}
.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body {
  margin: 0 auto;
  padding: 0;
}
img {
  width: 100%;
}
/*shared styles*/
.df {
  display: flex;
}
.text-primary {
  color: #ff900e;
}

.text-light-gray {
  color: #727272;
}

.text-gray {
  color: #424242;
}
.btn-primary {
  background-color: #ff900e;
  border-radius: 5px;
  color: #ffffff;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px 25px;
  font-size: 1.25rem;
  border: none;
}
/* 

*/
/* header style */

.navbar {
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}
.nav-title {
  font-size: 2.96rem;
}
.banner-title {
  font-size: 4rem;
}
.menu-item {
  list-style: none;
  margin-right: 30px;
}
.menu-link {
  text-decoration: none;
  color: #424242;
}

.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}
.banner {
  max-width: 1440px;
  margin: 0 auto;
}
